# Ignore .env file in the backend folder
/backend/.env

# Ignore .env file in the frontend folder
/frontend/.env

# Ignore all .env files throughout the repository
*.env

# Ignore node_modules in frontend
/frontend/node_modules/

# Ignore node_modules in backend
/backend/node_modules/
